body
{
  background-color: darkgrey;
}

.restOfPage
{
     position: relative;
     padding: 0 0 0 55px;
     min-width: 1800px;
}
CompanyInfo{
     padding-left: 90px;
     font-size: 30px;
}
.textBoxes{
     padding-left: 90px;
     font-size: 28px;
}
#emailBox{
     font-size: 16px;
     width: 400px;

}
#QandA{
     font-size: 16px;
     height: 200px;
     width: 400px;

}
.footer{
     width: 1300px;
     height: 50px;
     margin-top: 10px;
}
/*====================
/*.sideBar{
     position:absolute;
     top: 0;
     bottom: 0;
     right: 0;
     margin-right: 50px;
     margin-left: 100px;
     width: 350px;
     height: 1000px;
     background: darkgrey;
     min-width: 1700;
}
*/
