/*
 *	This is the style shee for create account page
 */


/* css the imgcontainer */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* css the logo */

img.PKitchen {
    width: 40%;
    border-radius: 50%;
}


/* css the body if desired // centers form */

body {
    background-image: url("../images_folder/Food.jpg");
    margin: 0;
    padding: 0;
}


/* center the title */

#title {
    text-align: center;
}


/* css the form */

form {
    color: inherit;
    background-color: white;
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    width: 400px;
}


/* css the text and password forms */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* container padding */

.container {
    color: inherit;
    background-color: white;
    padding: 15px;
}

#button {
    padding-left: 20px;
    padding-bottom: 10px;
}

ul.menuBar {
    /*padding-top: 10%;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3b3;
    color: inherit;
    width: 100%;
}


/*Float the list items side by side*/

ul.menuBar li {
    float: left;
}


/* Style the links inside the list items */

ul.menuBar li a {
    display: inline-block;
    background-color: inherit;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#signoutbutton {
    display: flex;
    vertical-align: center;
    float: right;
    padding-top: 1%;
}
