/* css for index */

#banner {}

ul.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: inherit;
    width: 99%;
}


/*Float the list items side by side*/

ul.menuBar li {
    float: left;
}


/* Style the links inside the list items */

ul.menuBar li a {
    display: inline-block;
    background-color: inherit;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#signoutbutton {
    display: flex;
    vertical-align: center;
    float: right;
    padding-top: 1%;
}


/*
	ul.menuBar li a:hover {background-color: #555;}

	ul.menuBar li.icon {display: none;}
	@media screen and (max-width:680px) {
	  ul.topnav li:not(:first-child) {display: none;}
	  ul.topnav li.icon {
	    float: right;
	    display: inline-block;
	  }
	}

	@media screen and (max-width:680px) {
	  ul.menuBar.responsive {position: relative;}
	  ul.menuBar.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }
		*/

ul.menuBar.responsive li {
    float: none;
    display: inline;
}

ul.menuBar.responsive li a {
    display: block;
    text-align: left;
}

body {
    background-color: darkGrey;
    color: inherit;
    /* min-width: 1800px;*/
    width: 100%;
}

form {
    display: table;
    margin: 0 auto;
    align-items: center;
}

.ingredientsbox {
    /*display: table;*/
    width: 95%;
    margin: 0px auto;
    /*align-items: center;*/
    /*display: inline-block;*/
    vertical-align: top;
}

#enteringredients {
    display: inline-block;
    width: 100%;
}

.filter {
    display: inline-block;
    float: right;
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 3.5%;
}

.myingredients {
    border: black solid;
    /*display: table;*/
    height: 200px;
    width: 50%;
    vertical-align: top;
    display: table;
    position: fixed;
    /*margin: 0px auto;*/
}

#ingrTable {
    /*display: inline;*/
    /*table-layout: fixed;*/
    word-wrap: break-word;
    width: 100%;
}

td {
    /*border: 1px solid black;*/
    word-wrap: break-word;
    width: 100%;
}

tr {
    width: 100%;
}

#foods {
    display: inline-block;
    align-items: center;
    width: 300px;
    height: 35px;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 15px;
    opacity: 0.8;
}

.ingredientsSubmit {
    display: block;
    padding-top: 17.5%;
}

#ingredientsSubmit {
    /*display: inline-table;*/
    display: block;
    position: absolute;
}

.openmodalbutton {
    /*align-items: center;*/
    float: right;
    padding-right: 3%;
    width: 80%;
}

#modalswitch {
    padding-left: 20%;
    text-align: center;
}

.radius button {
    background-color: red;
    color: red;
}
