/* css for index */

#banner {}

body {
    background-color: darkGrey;
    color: inherit;
    /* min-width: 1800px;*/
    width: 100%;
}

form {
    display: table;
    margin: 0 auto;
    align-items: center;
}

td {
    border: 1px solid black;
}

ul.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: inherit;
    width: 99%;
}


/*Float the list items side by side*/

ul.menuBar li {
    float: left;
}


/* Style the links inside the list items */

ul.menuBar li a {
    display: inline-block;
    background-color: inherit;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#signoutbutton {
    display: flex;
    vertical-align: center;
    float: right;
    padding-top: 1%;
}


/*
ul.menuBar li a:hover {background-color: #555;}

ul.menuBar li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.menuBar.responsive {position: relative;}
  ul.menuBar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
	*/

ul.menuBar.responsive li {
    float: none;
    display: inline;
}

ul.menuBar.responsive li a {
    display: block;
    text-align: left;
}

#enteringredients {
    float: left;
    width: 100%;
}

#amtTable {
    float: left;
}

#ingrTable {
    float: left;
}

.ingredientsbox {
    width: 95%;
    margin: 0px auto;
    align-items: center;
}

.myingredients {
    border: black solid;
    height: 200px;
    width: 50%;
    /*margin: 0px auto;*/
}

#foods {
    align-items: center;
    width: 300px;
    height: 35px;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    border-radius: 15px;
    opacity: 0.8;
}
